# Models
*.pkl
*.joblib

# Large processed datasets
Processed_data.csv
Modelling_data.csv

# Jupyter
.ipynb_checkpoints/

# Python virtual environment
venv/

# macOS
.DS_Store
.ipynb_checkpoints/
.DS_Store
*.pkl
Processed_data.csv
